<form action="/b_inform/toukou/" method="get">

  <label for="mail">@:</label>
  <input type="text" id="mail" name="re_id">
    <br />
    <textarea name="ht2"  rows="20" cols="50" maxlength="1000">
</textarea><br/>
  <input type="submit" name="button" value="募集"/>
</form>