<form action="/inform/toukou/" method="get">
  <input type="button" onclick="location.href='/b_inform/bosyuu_inf'"value="募集を投稿する"><br>
  <label for="mail">@:</label>
  <input type="text" id="mail" name="re_id"><br>
    <textarea name="ht1" rows="20" cols="50" maxlength="1000">
</textarea><br>
    <input type="submit" name="button" value="発言"/>
</form>